---
import '../styles/index.css'
import Footer from './Footer.astro'
import { useLocale } from '@utils/locale'
import {PandaConfig} from "../config.js";
const { t, locale } = useLocale(Astro.url)
const {description:defaultDescription,title:defaultTitle} = PandaConfig

export const prerender = true


export interface Props {
    title: string
    navbar?: boolean
    description?: string
}

let { title, navbar,description } = Astro.props
if (navbar === undefined) navbar = true
if (!description) description = defaultDescription
const fullTitle = `${title} - ${defaultTitle}`
---

<!doctype html>
<html lang={locale} class="mx-4">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{fullTitle}</title>
        <link rel="preconnect" href="https://rsms.me/"></link>
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css"></link>
        <link rel="preconnect" href="https://fonts.googleapis.com"></link>
        <link rel="preconnect" href="https://fonts.gstatic.com"></link>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap" rel="stylesheet"></link>
    </head>
    <body class="max-width dark:bg-stone-700">
        <main >
            <slot />
        </main>
        <Footer />
    </body>
</html>
